body {
  height: 700px;
  width: 100vw;
  background: #1eb3e0; /* fallback for old browsers */
  overflow-x: hidden;
  background: -webkit-linear-gradient(
    to top,
    #ffffff,
    #6dd5fa,
    #1eb3e0
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    #ffffff,
    #6dd5fa,
    #1eb3e0
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
#header {
  background: transparent;
  height: auto;
}
#header h1 {
  padding-left: 20px;
  color: #ffffff;
}

#header a {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: black;
}
@media screen and (max-width: 500px) {
  #header {
    height: auto;
  }
}

#leftside {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  height: 550px;
  margin-top: 10px;
  margin-left: 20px;
  border-radius: 5px;
  background: #ffffff;
}

#clearbook {
  height: auto;
  width: 10%;
}

#isbnform {
  width: 95%;
}
#isbnform input {
  min-width: 100px;
}
#isbnform button {
  background: none;
  border: none;
}

#isbnform button i:hover {
  background: none;
  border: none;
  animation: buttonhover 1s cubic-bezier(0.165, 0.84, 0.44, 1);
}
@keyframes buttonhover {
  from {
    font-size: 16px;
  }
  to {
    font-size: 18px;
  }
}

#refresh {
  background: none;
  border: none;
}
.my-custom-scrollbar {
  position: relative;
  height: 400px;
  width: 95%;
  overflow: auto;
}
.table-wrapper-scroll-y {
  display: block;
}

.my-custom-scrollbar::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.my-custom-scrollbar::-webkit-scrollbar {
  width: 10px;
}

.my-custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #0ae;

  background-image: -webkit-gradient(
    linear,
    0 0,
    0 100%,
    color-stop(0.5, rgba(255, 255, 255, 0.2)),
    color-stop(0.5, transparent),
    to(transparent)
  );
}
#rightside {
  display: flex;
  justify-content: center;
  position: relative;
  height: 550px;
  margin-top: 10px;
  margin-left: 10px;
  border-radius: 5px;
  background: #abe4f8;
  padding-right: 0px;
}

#bookdetaildisplay {
  width: 90%;
  height: 390px;
  position: absolute;
  top: 10px;
  padding: 0px;
}
#customise {
  width: 90%;
  position: absolute;
  bottom: 0;
  padding: 0px;
}
.comment-scroll {
  display: block;
  position: relative;
  height: 100px;
  width: 58%;
  overflow-y: auto;
  overflow-x: hidden;
}

.comment-scroll::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.comment-scroll::-webkit-scrollbar {
  width: 10px;
}

.comment-scroll::-webkit-scrollbar-thumb {
  background-color: #0ae;

  background-image: -webkit-gradient(
    linear,
    0 0,
    0 100%,
    color-stop(0.5, rgba(255, 255, 255, 0.2)),
    color-stop(0.5, transparent),
    to(transparent)
  );
}

#customise input {
  margin-bottom: 10px;
  width: 60%;
}

#addcomment button {
  color: rgb(0, 0, 0);
  background: none;
  border: none;
}

#addgroup button {
  color: rgb(0, 0, 0);
  background: none;
  border: none;
}
#addgroup input {
  margin-left: 26px;
}

#customise-right button {
  color: rgb(0, 0, 0);
  background: none;
  border: none;
}

#footer {
  min-height: 50px;
  background: transparent;
  position: relative;
  bottom: 0;
}
