body {
  height: 700px;
  width: 100vw;
  background: #1eb3e0; /* fallback for old browsers */
  overflow-x: hidden;
  background: -webkit-linear-gradient(
    to top,
    #ffffff,
    #6dd5fa,
    #1eb3e0
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    #ffffff,
    #6dd5fa,
    #1eb3e0
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
#header {
  background: transparent;
  height: auto;
}
#header h1 {
  padding-left: 20px;
  color: #ffffff;
  margin: auto;
}

#header p {
  margin: auto;
}
#header a {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: black;
  margin: auto;
  text-decoration: none;
}

#email {
  padding-left: 20px;
}
hr {
  color: #fff;
  margin: 5px;
  margin-bottom: 0px;
}

#leftside {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  height: 550px;
  margin-top: 10px;
  margin-left: 20px;
  border-radius: 5px;
  background: #ffffff;
}

#clearbook {
  height: auto;
  width: 10%;
}

#isbnform {
  width: 95%;
}
#isbnform input {
  min-width: 100px;
}
#isbnform button {
  background: none;
  border: none;
}

#isbnform button i:hover {
  background: none;
  border: none;
  animation: buttonhover 1s cubic-bezier(0.165, 0.84, 0.44, 1);
}
@keyframes buttonhover {
  from {
    font-size: 16px;
  }
  to {
    font-size: 18px;
  }
}

#refresh {
  background: none;
  border: none;
}
.my-custom-scrollbar {
  position: relative;
  height: 400px;
  width: 95%;
  overflow: auto;
}
.table-wrapper-scroll-y {
  display: block;
}

.my-custom-scrollbar::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.my-custom-scrollbar::-webkit-scrollbar {
  width: 10px;
}

.my-custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #0ae;

  background-image: -webkit-gradient(
    linear,
    0 0,
    0 100%,
    color-stop(0.5, rgba(255, 255, 255, 0.2)),
    color-stop(0.5, transparent),
    to(transparent)
  );
}
#rightside {
  display: flex;
  justify-content: center;
  position: relative;
  height: 550px;
  margin-top: 10px;
  margin-left: 10px;
  border-radius: 5px;
  background: transparent;
  padding-right: 0px;
}

#bookdetaildisplay {
  width: 90%;
  height: 390px;
  position: absolute;
  top: 10px;
  padding: 0px;
}
#customise {
  width: 90%;
  position: absolute;
  bottom: 0;
  padding: 0px;
}
.comment-scroll {
  display: block;
  position: relative;
  height: 100px;
  width: 58%;
  overflow-y: auto;
  overflow-x: hidden;
}

.comment-scroll::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.comment-scroll::-webkit-scrollbar {
  width: 10px;
}

.comment-scroll::-webkit-scrollbar-thumb {
  background-color: #0ae;

  background-image: -webkit-gradient(
    linear,
    0 0,
    0 100%,
    color-stop(0.5, rgba(255, 255, 255, 0.2)),
    color-stop(0.5, transparent),
    to(transparent)
  );
}

#customise input {
  margin-bottom: 10px;
  width: 60%;
}

#addcomment button {
  color: rgb(0, 0, 0);
  background: none;
  border: none;
}

#addgroup button {
  color: rgb(0, 0, 0);
  background: none;
  border: none;
}

#customise-left button i:hover {
  animation: addcms 1s cubic-bezier(0.165, 0.84, 0.44, 1);
}
@keyframes addcms {
  from{}
  to {font-size: 17px; padding: auto}
}
#addgroup input {
  margin-left: 26px;
}

#customise-right button {
  color: rgb(0, 0, 0);
  background: none;
  border: none;
  height: 100%;
}

#download {
  font-size: 35px;
}
#download:hover {
  animation: downloadbutton 1s cubic-bezier(0.165, 0.84, 0.44, 1);;
}
@keyframes downloadbutton {
  from{ 
    font-size: 35px;
  }
  to {
    padding-left: 0px;
    font-size: 37px;
  }
}
/* trash bin animation */
.trash {
  background: #000000;
  width: 33px;
  height: 40px;
  display: inline-block;
  margin: 0 auto;

  position: relative;
  -webkit-border-bottom-right-radius: 6px;
  -webkit-border-bottom-left-radius: 6px;
  -moz-border-radius-bottomright: 6px;
  -moz-border-radius-bottomleft: 6px;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
}
.trash:after {
  position: absolute;
  left: -45px;
  right: 0;
  bottom: -25px;
  width: 150px;
}
.trash span {
  position: absolute;
  height: 6px;
  background: #000000;
  top: -10px;
  left: -5px;
  right: -5px;

  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  transform: rotate(0deg);
  transition: transform 250ms;
  transform-origin: 19% 100%;
}
.trash span:after {
  content: "";
  position: absolute;
  width: 26px;
  height: 3px;
  background: #000000;
  top: -5px;

  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  transform: rotate(0deg);
  transition: transform 250ms;
  transform-origin: 19% 100%;
  left: 8.5px;
}

.trash i {
  position: relative;
  width: 3px;
  height: 25px;
  background: #fff;
  display: block;
  margin: 7px auto;
  border-radius: 5px;
}
.trash i:after {
  content: "";
  width: 3px;
  height: 25px;
  background: #fff;
  position: absolute;
  left: -9px;
  border-radius: 5px;
}
.trash i:before {
  content: "";
  width: 3px;
  height: 25px;
  background: #fff;
  position: absolute;
  right: -9px;
  border-radius: 5px;
}

.trash:hover span {
  transform: rotate(-35deg);
  transition: transform 250ms;
}

#footer {
  min-height: 50px;
  background: transparent;
  position: relative;
  bottom: 0;
}
